{% extends 'polls/base.html' %}

{% block main_content %}

    {% if user.is_authenticated %}

        {% if user.groups.all.0.name == "closed_questions" or user.groups.all.1.name == "closed_questions" %}
            {% if question.is_question_open == False %}
            <h1>{{question.question_text}}</h1>

            {% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}

                <form action="{% url 'polls:vote' question.id %}" method="post">
                    {% csrf_token %}

                    {% for choice in question.choice_set.all %}
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
                        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                    {% endfor %}
                <input type="submit" value="vote"/>
                </form>

            {% endif %}
        {% endif %}
    {% else %}
        You are not logged in
    {% endif %}

{% endblock %}